.bounty {
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
}

.available-status {
    font-family: "Share Tech Mono", monospace;
    color: white;
    margin: 40px;
}

html, body {
    background-color: #181818;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 50px;
    flex: 1;
}

h2, p {
  display: inline-block;
}

h2 {
  color: white;
}

/* p {
  color: #CC00FF;
} */

.bounty p {
    color: #CC00FF;
}

.bounty {
  border-radius: 32px;
  box-shadow: inset 0px 1px 10px 0px black;
  background: rgba(204, 0, 255, .19);
  transition: background-color 0.1s ease-in-out;
  height: 190px;
  width: 1186px;
  /* margin: auto; */
  margin-top: 20px;
  margin-bottom: 10px;
}

.bounty:hover {
  background-color: rgba(0, 41, 255, .42);
}

.bounty:hover .company {
  color: #fbc301;
}

.bounty:hover .money {
  color: #fbc301;
}

.bounty h2 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.bounty .money {
  float: right;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.bounty .bounty-description {
  color: white;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}

a.button {
  /* margin: auto; */
  display: block;
  height: 190px;
  width: 1186px;
  text-decoration: none;
}

.create-bounty-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-bounty-button {
    color: white;
    align-items: center;
    font-size: 20px;
    background-color: #CC00FF;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}

.create-bounty-container a {
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
