body {
    width: 100%;
    height: 83.5%;
    /* overflow: hidden; */
    background-color: #181818;
}

.bg {
    position: relative;
    width: inherit;
    height: 100%;
    background-color: #181818;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

hr {
    width: 1200px;
}

.text-container {
    font-family: "Share Tech Mono", monospace;
}

.text-container .title {
    font-size: 60px;
    letter-spacing: 7px;
    color: white;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.table {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 50px;
    margin-top: 20px;
    table-layout: auto;
    width: 980px;
    border-spacing: 0 10px;
}

.table thead th {
    text-align: left;
}

.table tbody {
    color: #abacae;
}

.text-container .desc {
    font-size: 30px;
    margin: 5px;
    color: #cc00ff;
    text-align: center;
}

.leaderboard-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: transparent;
    border-left: 2px solid #cc00ff;
    border-right: 2px solid #cc00ff;
}