.nav {
    position: fixed;
    overflow: hidden;
    top: 0px;
    background-color: #181818;
    width: 100%;
    height: 210px;
    z-index: 99;
}

.nav .above-line {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.above-line .title-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.above-line #title {
    color: white;
    width: fit-content;
    font-size: 40px;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-content: center;
    text-decoration: none;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
    transition: 0.3s;
}

.above-line #title:hover {
    color: #CC00FF;
}

.above-line .vert-line {
    color: #CC00FF;
    transition: 0.3s;
}

.above-line #title:hover .vert-line {
    color: #0029FF;
}

.above-line .right-side {
    color: white;
    font-size: 16px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.above-line {
    height: 163px;
    border-bottom: 1px solid #CC00FF;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 50px;
    gap: 10px;
}

.right-side a {
    text-decoration: none;
    color: white;
}

.welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome-container p {
    border-right: 1px solid #CC00FF;
    padding-right: 15px;
}

.welcome-container a {
    margin-left: 15px;
    color: #CC00FF;
    font-size: 14px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-decoration: none;
    transition: color 0.3s;
    display: inline-block;
}

.welcome-container a:hover {
    color: #0029FF;
}

.welcome-container .hacker-name {
    transition: 0.3s;
}

.hacker-name:hover {
    color: #CC00FF;
}

.welcome-container .company-name {
    transition: 0.3s;
}

.company-name:hover {
    color: #FFC700;
}


.right-upper-side {
    width: 70%;
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: end;
}

.right-upper-side .with-border {
    border-right: 1px solid #CC00FF;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.with-border a {
    transition: 0.3s;
}

.with-border a:hover {
    color: #707070;
}

.right-upper-side .reg-button {
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.right-upper-side #reg-button {
    background-color: #CC00FF;
    padding: 5px 12px 5px 12px;
    border-radius: 15px;
    transition: 0.3s;
}

#reg-button:hover {
    background-color: #0029FF;
}

.below-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;

}

.below-line .nav-selection {
    display: flex;
    text-decoration: none;
    font-family: "Share Tech Mono", monospace;
    font-size: 24px;
    list-style-type: none;
    gap: 5rem;
}

.nav-selection a {
    color: #CC00FF;
    text-decoration: none;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
    transition: 0.3s;
}

.nav-selection a:hover {
    color: #0029FF;
}

