html, body {
    background-color: #181818;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.reports-container {
    display: flex;
    flex: 1;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.reports-table th {
    border-bottom: 1px solid #ddd; /* Optional: Adds a subtle border between rows */
}

.reports-table th, .reports-table td {
    padding: 15px; /* Adjust this value to increase or decrease the spacing */
    text-align: left;
}

.reports-list {
    font-family: "Share Tech Mono", monospace;
    color: white;
    margin: 40px;
}

.reports-list .reports-table a{
    text-decoration: none;
    color: #CC00FF;
    transition: .3s;
}

.reports-table a:hover {
    color: white;
}


